<p id="notice"><%= notice %></p>

<h1>High Scores</h1>

<table>
  <thead>
    <tr>
      <th>Player Name</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.player_name %></td>
        <td><%= game.final_score %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
