<p id="notice"><%= notice %></p>

<p>
  <strong>Aces:</strong>
  <%= @game.aces %>
</p>

<p>
  <strong>Twos:</strong>
  <%= @game.twos %>
</p>

<p>
  <strong>Threes:</strong>
  <%= @game.threes %>
</p>

<p>
  <strong>Fours:</strong>
  <%= @game.fours %>
</p>

<p>
  <strong>Fives:</strong>
  <%= @game.fives %>
</p>

<p>
  <strong>Sixes:</strong>
  <%= @game.sixes %>
</p>

<p>
  <strong>Upper total:</strong>
  <%= @game.upper_total %>
</p>

<p>
  <strong>Three of a kind:</strong>
  <%= @game.three_of_a_kind %>
</p>

<p>
  <strong>Four of a kind:</strong>
  <%= @game.four_of_a_kind %>
</p>

<p>
  <strong>Full house:</strong>
  <%= @game.full_house %>
</p>

<p>
  <strong>Sm straight:</strong>
  <%= @game.sm_straight %>
</p>

<p>
  <strong>Lg straight:</strong>
  <%= @game.lg_straight %>
</p>

<p>
  <strong>Yahtzee:</strong>
  <%= @game.yahtzee %>
</p>

<p>
  <strong>Chance:</strong>
  <%= @game.chance %>
</p>

<p>
  <strong>Bonuses:</strong>
  <%= @game.bonuses %>
</p>

<p>
  <strong>Upper total:</strong>
  <%= @game.upper_total %>
</p>

<p>
  <strong>Final score:</strong>
  <%= @game.final_score %>
</p>

<p>
  <strong>Is finished:</strong>
  <%= @game.is_finished %>
</p>

<p>
  <strong>Player name:</strong>
  <%= @game.player_name %>
</p>

<%= link_to 'Back', games_path %>
